@media (min-width:760px){
   .collapse{
   	display: block;
   }
   .form-c{
    width:100%;
    height:;
    padding:0;
    margin-top: -120px;

   }


}

@media (max-width:576px){
  
  
 .container-ca {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32vh;
	width: 90%;
	margin:0 auto;
}
.form-c{
    width:100%;
    height:;
    padding:0;
    margin-top: 30px;

   }

#cart{

  margin-top:47px;
}
    
    .container2{
        padding: 0;
    	width:100%;}
    .country-imge {

    	width:70px;

   
    }

     body {
		background: url("../img/marble3.jpg");
	background-color: #424242;
		background-size: cover;
	
}




   .footer {position:fixed;
   left:0;
   bottom:0px;
   height:40px;
   width:100%;
   background:#303030;}

   .container2 {
	background-image-display: none;
	
}
.title-type {

width:40px;
}
.title-type p{

    font-size: 8px;
}

	}
